<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<false/>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.mobilegestalt.xpc</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.mobilegestalt.xpc</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>Program</key>
	<string>/usr/libexec/MobileGestaltHelper</string>
	<key>StandardErrorPath</key>
	<string>/var/tmp/mobilegestalt.stderr</string>
	<key>StandardOutPath</key>
	<string>/var/tmp/mobilegestalt.stdout</string>
	<key>UserName</key>
	<string>mobile</string>
</dict>
</plist>
